<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-start">League Table</h1>
    </div>
  </div>
  <div class="row">
    <p-table
      [value]="clubs"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-3rem"></th>
          <th></th>
          <th class="w-7rem">Played</th>
          <th class="w-7rem">Wins</th>
          <th class="w-7rem">Draws</th>
          <th class="w-7rem">Losses</th>
          <th class="w-7rem">Goals Scored</th>
          <th class="w-7rem">Goals Conceded</th>
          <th class="w-7rem">Goal Difference</th>
          <th class="w-7rem">Points</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-team>
        <tr
          [ngClass]="{
            'bg-gray-50': team.clubStats.leaguePosition % 2 === 0,
            'bg-white': team.clubStats.leaguePosition % 2 !== 0,
          }"
          class="font-semibold text-xl"
        >
          <td>{{ team.clubStats.leaguePosition }}</td>
          <td>{{ team.clubName }}</td>
          <td>{{ team.clubStats.totalMatchesPlayed }}</td>
          <td>{{ team.clubStats.matchOutcome.winCount }}</td>
          <td>{{ team.clubStats.matchOutcome.drawCount }}</td>
          <td>{{ team.clubStats.matchOutcome.lossCount }}</td>
          <td>{{ team.clubStats.goals.goalsScored }}</td>
          <td>{{ team.clubStats.goals.goalsConceded }}</td>
          <td>{{ team.clubStats.goals.goalDifference }}</td>
          <td>{{ team.clubStats.totalPoint }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
